<div class="help-layout">
  <p-card class="help-menu">
    <ng-template pTemplate="title">Yardım</ng-template>
    <ng-template pTemplate="subtitle">Metin Analizi rehberi</ng-template>

    <nav class="menu-links">
      <a routerLink="/help/genel" routerLinkActive="active">Metin analizi nedir?</a>
      <a routerLink="/help/kullanim" routerLinkActive="active">Nasıl kullanılır?</a>
      <a routerLink="/help/sss" routerLinkActive="active">Sıkça Sorulan Sorular</a>
    </nav>

  </p-card>

  <div class="help-content-area">
    <router-outlet></router-outlet>
  </div>
</div>
