<p-card *ngIf="sentences?.length">
  <ng-template pTemplate="title">Cümleler</ng-template>
  <ng-template pTemplate="subtitle">Kelime ve hece dağılımı</ng-template>
  <div class="sentence" *ngFor="let sentence of sentences">
    <div class="sentence-head">
      <p-tag [value]="sentence.sentence_index + '.'" severity="info"></p-tag>
      <div class="sentence-text">{{ sentence.sentence_text }}</div>
    </div>
    <div class="words">
      <div class="word-chip" *ngFor="let word of sentence.words">
        <p-chip [label]="word.word"></p-chip>
        <p-tag [value]="word.syllable_count + ' hece'" severity="secondary"></p-tag>
      </div>
    </div>
  </div>
</p-card>
